{% extends "main_view.html" %}
{% block menu %}
    <div style="margin-top: 1%">
        <div class="container-fluid">
            <div class="row align-items-start">
                <div class="col">
                    <div class="bg-image card shadow-1-strong"
                         style="background: linear-gradient(90deg, rgba(201,173,232,1) 37%, rgba(200,174,231,1) 38%, rgba(153,242,176,1) 71%);">
                        <div class="card-body text-white">
                            <h1>Мой блог</h1>
                            <h3>Страница о блоге</h3>
                            <img src="https://i.pinimg.com/originals/69/b6/d7/69b6d777bdfe3dca739e621d4c611c64.jpg" alt="Ленивец" width="30%"
                                 height="60%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock menu %}